// notion ---------------------------------------------
aside {
    // display: flex;
    width: 100%;
    border-radius: 3px;
    background: rgb(241, 241, 239);
    padding: 16px 16px 16px 12px;
}

.notion_sp {
    // font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    line-height: normal;
    background: rgba(135, 131, 120, 0.15);
    color: #EB5757 !important;
    border-radius: 3px;
    font-size: 85%;
    padding: 0.2em 0.4em;
}


// end notion -----------------------------------------